/*Contenido de galeria*/

.contenedorGaleria{
    display: flex;

    flex-wrap: wrap;
    /* margin:4% 20% 0 20%; */
    width: 90%;
    margin: auto;
    margin-left: 0;
    padding: 0 4px;
}

.columnaGaleria{
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}
.columnaGaleria img {
    margin-top: 8px;
 
    object-fit: contain;
    max-width: 800px;
    width: 100%;


    vertical-align: middle;
}


/*Fin contenido de galeria*/